@import "compass/css3";

$filled-star-color: #EF005B;
$empty-star-color: #F9C8D3;
$star-size: 17px;

html {
  height: 100%;
}
body {
  text-align: center;
}

.rating {
    direction: rtl;
    font-size: $star-size;
    unicode-bidi: bidi-override;
    position: relative;
    span.star {
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        &:hover {
            cursor: pointer;
        }
        &:before {
            color: $empty-star-color;
            content: "\f006";
        }
        &:hover:before, 
        &:hover ~ span.star:before {
            color: $filled-star-color;
            content: "\f005";
        }
        &:hover:after {
            direction: ltr;
            content: attr(title);
            position: absolute;
            left: 0;
            bottom: -22px;
            white-space: nowrap;
            font: normal 14px/normal Arial, Helvetica, sans-serif;
        }
    }
}
.ratings {
    width: 5*$star-size;
    height: $star-size;
    display: inline-block;
    position: relative;
    &:before,
    &:after{
      display: inline-block;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      font-size: $star-size;
      position: absolute;
      top: 0;
      left: 0;
    }
    &:before {
      color: $empty-star-color;
      content: "\f006\f006\f006\f006\f006";
    }
    &:after {
      color: $filled-star-color;
      content: "\f005\f005\f005\f005\f005";
      overflow: hidden;
    }
}