
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  font-size:150%;
  float: left;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover,
.rating > span:hover ~ span {
  color: transparent;
  background: #E91E63
}


.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   left: 0; 
   color: gold;
}


.rating:not(:checked) > label:before { 
   content: '\2606';
}

.rating:not(:checked) > input {    
   clip: rect(0px, 0px, 0px, 0px);
   height: 1px;  
   margin: -1px;  
   overflow: hidden;  
   padding: 0;  
   position: absolute;  
   width: 1.1em;
  }

.rating:not(:checked) > label { 
   float:right; 
   width:1.1em;  
   padding:0 .1em;   
   overflow:hidden;  
   white-space:nowrap; 
   cursor:pointer; 
   font-size:150%;  
   line-height:1.2;  
   }
 
 .rating > input:checked ~ label {   
   color: #f97; 
   width:1.1em;    
}

.rating_edit:not(:checked) > label:hover,
.rating_edit:not(:checked) > label:hover ~ label { 
  color: gold;
  width:1.1em;
 }
 
 .rating_edit > input:checked + label:hover,
 .rating_edit > input:checked + label:hover ~ label,
 .rating_edit > input:checked ~ label:hover,
 .rating_edit > input:checked ~ label:hover ~ label,
 .rating_edit > label:hover ~ input:checked ~ label {  
   color: #ea0;    text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .1em rgba(0,0,0,.5);
   width:1.1em;
  }
   
 .rating_edit > label:active { 
    position:relative;   
    top:2px; 
    left:2px;
    width:1.1em;
  }


.number-of-reviews {
  flex-direction: row;
  padding: 10px 0px 0px 35px;
}
