.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  font-size:200%;
  float: left;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.2em;
  height: 1.2em;
}
.rating > span:hover,
.rating > span:hover ~ span {
  color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   left: 0; 
   color: gold;
}




.rating:not(:checked) > label:before {
    content: '★ ';
}

